td.caseHorizontale{
	border:1px solid black;
	width: 9%;
	text-transform: uppercase;
	padding:3px;
}

td.caseBord{
	border:1px solid black;
	min-width: 9%;
	text-transform: uppercase;
	padding:5px;
}

td.caseVerticale{
	border:1px solid black;
	width: 9%;
	text-transform: uppercase;
	padding:5px;
}

td.blank_space{
	border:1px solid black;
	width:2em;
}

.pion{
    min-width:70px;
    max-width:103px;
    height: 4px;
}

.pionRouge{
    width:10px;
    height: 8px;
    background: Red;
    border-radius :50%;
    margin:auto;
	border-style: solid;
    border-width: 1px;
	display: inline-block;
	margin:4px;
}

.pionBleu{
    width:10px;
    height: 8px;
    background: Blue;
    border-radius :50%;
    margin:auto;	
	border-style: solid;
    border-width: 1px;
	display: inline-block;}

.pionVert{
    width:10px;
    height: 8px;
    background: Green;
    border-radius :50%;
    margin:auto;	
	border-style: solid;
    border-width: 1px;
display: inline-block;}

.pionJaune{
    width:10px;
    height: 8px;
    background: Yellow;
    border-radius :50%;
    margin:auto;
	border-style: solid;
    border-width: 1px;
	display: inline-block;
}

.couleurHorizontale{
	height:12px;
	border-style: solid;
    border-width: 1px;
}

.couleurVerticale{
	min-width:12px;
	border-style: solid;
    border-width: 1px;
}

.emplacement{
	text-align:center;
	vertical-align: middle;
}
