td.caseHorizontale{
	border:1px solid black;
	width: 9%;
	text-transform: uppercase;
	padding:3px;
}

td.caseBord{
	border:1px solid black;
	min-width: 9%;
	text-transform: uppercase;
	padding:5px;
}

td.caseVerticale{
	border:1px solid black;
	width: 9%;
	text-transform: uppercase;
	padding:5px;
}

td.blank_space{
	border:1px solid black;
	width:2em;
}

td.maison{border:1px solid black; margin:auto;}
tr.maison{border:1px solid black; margin:auto;}

.pion{
    min-width:70px;
    max-width:103px;
    height: 4px;
}

.pionRouge{
    width:10px;
    height: 8px;
    background: Red;
    border-radius :50%;
    margin:auto;
	border-style: solid;
    border-width: 1px;
	display: inline-block;
	margin:4px;
}

.pionBleu{
    width:10px;
    height: 8px;
    background: Blue;
    border-radius :50%;
    margin:auto;	
	border-style: solid;
    border-width: 1px;
	display: inline-block;}

.pionVert{
    width:10px;
    height: 8px;
    background: Green;
    border-radius :50%;
    margin:auto;	
	border-style: solid;
    border-width: 1px;
display: inline-block;}

.pionJaune{
    width:10px;
    height: 8px;
    background: Yellow;
    border-radius :50%;
    margin:auto;
	border-style: solid;
    border-width: 1px;
	display: inline-block;
}

.couleurHorizontale{
	height:12px;
	border-style: solid;
    border-width: 1px;
}

.couleurVerticale{
	min-width:12px;
	border-style: solid;
    border-width: 1px;
}

.emplacement{
	text-align:center;
	vertical-align: middle;
	width:33%;
}

.argent{
	text-align:left;
	padding-left:10%;
	vertical-align: top;
	font-size:14px;
}

.maison-horizontale{
	width:22%;
	border-style: solid;
    border-width: 1px;
	background-color:green;
	float:left;
}

.maison-verticale{
	border-style: solid;
    border-width: 1px;
	background-color:green;
}

.hotel-verticale{
	border-style: solid;
    border-width: 1px;
	background-color:red;
}

.hotel-horizontale{
	width:30%;
	border-style: solid;
    border-width: 1px;
	background-color:red;
}

.zoneTexte
{
	width:90%;
}

.circle {
	background-color:black;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	visibility: hidden;
}

#des_1, #des_2 {
	width: 45px;
	height: 45px;
}

.tableauDes {
	border : 2px solid black;
	border-radius: 10px;
}

.plateau{
	background-color:#EEFFCC;
	font-size:42%;
	line-height:1.2;
	vertical-align:middle;
	text-align:center;
}